@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

.rating {
  margin-left: 1%;
  display: inherit;
}

.rating-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  text-wrap: normal;
}
